{% extends 'portfolio/base.html' %}

{% block body %}
    <div class="container">
       <h1 class="header">Welcome to the Home Page!</h1>
        <p class="description">Hello! My name is Gavin Barrett and I'm 22 years old.
        I currently attedning Weber State pursuing my bachelors degree in Computer Science.<br>
        I have roughly three more semesters after this spring semester until I finish!
        I also work as a software developer full-time for a company called Sequoia Group.<br>
        Fun fact about me is that I switched my major four different times before deciding with Computer Science.
        I live with my girlfriend Blair and my dog Goose.<br> My dog is a border collie mix and is about 2 years old.</p>

    </div>
{% endblock %}